{{define "title"}}Create a New Joke{{end}}

{{define "main"}}
<form action='/v1/joke/create' method='POST'>
	<div>
	    <label>User Name:</label>
	    {{with .Form.FieldErrors.username}}
		    <label class='error'>{{.}}</label>
        {{end}}
	    <input type='text' name='username' value='{{.Form.UserName}}'>
    </div>
    <div>
        <label>Content:</label>
        {{with .Form.FieldErrors.content}}
		    <label class='error'>{{.}}</label>
        {{end}}
        <textarea name='content'>{{.Form.Content}}</textarea>
    </div>
    <div>
        <label>Explicit? :</label>
        <input type="radio" name='explicit' value='1'>Yes
        <input type="radio" name='explicit' value='0' checked>No
    </div>
    <div>
        <input type='submit' value='Publish Joke'>
    </div>
</form>
{{end}}