{{ define "title"}}Home{{ end }}


{{ define "main" }}
            <h2>Random Jokes</h2>
            {{if .Jokes}}
			<table>
				<tr>
				    <th>ID</th>
				    <th>Joke</th>
				    <th>Created</th>
				</tr>
				{{range .Jokes}}
				<tr>
					<td>#{{.ID}}</td>
                    <td><a class='long-and-truncated' href='/v1/joke/view/{{.ID}}'>{{.Joke}}</a></td>
                    <td>{{humanDate .CreatedAt}}</td>
                </tr>
                {{end}}
            </table>
            {{else}}
            <p>There's nothing to see here....yet!</p>
			{{end}}
{{ end }}